body{
  background-image: url("./resource/photo/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headers{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}


/*------------------------------hide in welcome page----------------------------------- */
#Registration , #login_form, #About ,#Setting, #Game, #navbar{
  display: none;
}

/*-------------------------------Nav bar design------------------------------------------*/

#logo{
	padding-left: 0.5rem;
	width: 3.5rem;
	height: 4rem;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#navbar{
  overflow: hidden;
  position: fixed;
	width: 100%;
  margin-top: 0;
  opacity: 1;
	box-shadow: 1px 1px 100px #0e0156, -15px -15px 50px #0e0156;
  z-index: 1;  
}

#navbar_btns{
	margin: 0;
	padding: 0;
	display: flex;
}

li{
	list-style-type: none;
	font-size: large;
}

.menu{
  padding: 0.85rem;
}

.menu:hover{
	opacity: 0.7;
}

.menu_writing:hover{
	opacity: 0.7;
}

.navbar_a{
    font-size: 29.375px;
    font-family: "Bauhaus 93";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-decoration: none;
}

/*------------------------------------------ welcome page --------------------------------*/
#welcome_header{
  margin-top: 4rem !important;
}

#signup_btn{
  padding-top: 4rem;
  padding-right: 2.25rem;
}

#login_btn{
  padding-top: 2rem;
  padding-left: 5.25rem;
}

#signup_btn, #login_btn{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

/*-----------------------------------------login-------------------------------------------------*/
#login_header, #signup_header, #settings_header{
  position: relative;
  top: 5rem;  
}

.text_fill{
  /* background: url("./resource/photo/text_area_noyellow.png") no-repeat center; */
  border-width: 10px;
  /* border-color: #253bb6; */
  border-color: #344ef8;
  width: 255px;
  height: 50px;
  color: #ccc;
  padding-left: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50px;
}

.text_fill_small{
  /* background: url("./resource/photo/small_text_area_noyellow.png") no-repeat center; */
  border-width: 10px;
  border-color: #344ef8;
  width: 80px;
  height: 35px;
  color: #ccc;
  padding-left: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50px;
}

.text_area{
  text-align: center;
  position: relative;
  top: 6rem;
  padding-top: 0.5rem;
}

#username_input{
  margin-right: 4.25rem;
}

#password_input{
  margin-left: 5.25rem;
}
/* ---------------------------------------Dropdown Button -----------------------------------*/
.dropbtn {
    background-color: #3350ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {opacity: 0.7;}

  .inputkey{
    padding: 5px;
    margin:10px 0;
    width: 92px;
    text-align: center;
  }

  #keyUpCode , #keyDownCode {
    margin:10px 60px;
  }

  #keyRightCode{
    margin:10px ;
  }

  .icon {
    padding: 10px;
    background:rgb(17, 4, 75);
    color: white;
    min-width: 20px;
  }

/* Style for button */
.btn{
    position:relative;
    width: auto;
    display:inline-block;
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px  rgb(5, 56, 18);
    background: linear-gradient(#444,rgb(17, 4, 75));
    text-align:center;
    padding:16px 18px 14px;
    margin: 12px;
    font-size: x-large;
    
    -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
      
    -webkit-box-shadow: 0px 6px 0px rgb(17, 4, 75);
    -moz-box-shadow: 0px 6px 0px rgb(17, 4, 75);
    box-shadow: 0px 6px 0px rgb(17, 4, 75);
}
  
.btn:active{
      -webkit-box-shadow: 0px 2px 0px #444;
      -moz-box-shadow: 0px 2px 0px #444;
      box-shadow: 0px 2px 0px #444;
      position:relative;
      top:4px;
}

/*---------------------------------------- Style for sign up form----------------------------- */

.sign_up_text{
  background: linear-gradient(#050104,#0e0156);
  opacity: 0.9;
  border:  0 none;
  border-radius: 10px;
  box-shadow:  0 0 15px 1px #0e0156;
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 2rem;
}

#registration{
    width: 100%;
    position: relative;
    top: 4rem;
    margin: 0 auto;
}

#username{
  margin-top: 0.5rem;
}

.birthday{
  text-align: left;
  padding-top: 0.5rem;
  padding-left: 8rem;
}

#signup_btn_form{
  padding-top: 0.75rem;
}

.inline_signup{
  display: inline-grid;
}

/*Account Personal Detalils*/
.fs-title{
    font-size: 30px;
    text-transform: uppercase;
    color:  rgb(13, 2, 66);
    margin-bottom: 10px;
}

label{
    color: rgb(190, 199, 223); 
}

.icon {
    padding: 10px;
    background:rgb(17, 4, 75);
    color: white;
    min-width: 20px;
  }

  .keyPress{
    display: block;
    
  }

  
  