*,body,html{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Style for mune */
.main{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(17, 4, 75);
    background-color: linear-gradient(#444,rgb(17, 4, 75));
    border-bottom: 5px solid #252b85;
    height: 80px;
    line-height: 80px;
}
#main ul{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 50px;
    line-height: 1px;
    vertical-align: top;
    list-style-type: none;
    margin-top: 50px;
    height: 100px;

}
ul li{
    display: inline-block;
}
ul li a{

    display: block;
    padding: 22px 70px 70px 10px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    height: 70px;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
ul li a:hover{
    background-color:white;
    color: black;
}
/* image up */
#backImage{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
    width: 100%;
    height: 200px;
}
/* button register and login*/
.container{
    text-align: center; 
    margin-top: 200px;
 
 }
/* Style for button */
.btn{
    position:relative;
    width: auto;
    display:inline-block;
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px  rgb(5, 56, 18);
    background: linear-gradient(#444,rgb(17, 4, 75));
    text-align:center;
    padding:16px 18px 14px;
    margin: 12px;
    font-size: x-large;
    
    -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
      
    -webkit-box-shadow: 0px 6px 0px rgb(17, 4, 75);
    -moz-box-shadow: 0px 6px 0px rgb(17, 4, 75);
    box-shadow: 0px 6px 0px rgb(17, 4, 75);
}
  
.btn:active{
      -webkit-box-shadow: 0px 2px 0px #444;
      -moz-box-shadow: 0px 2px 0px #444;
      box-shadow: 0px 2px 0px #444;
      position:relative;
      top:4px;
}

/* Style for form */
#registration{
    width: 600px;
    margin: 50px auto ;
    text-align: center;
}
#registration fieldset{
    background: linear-gradient(rgb(112, 89, 216),rgb(17, 4, 75));
    border:  0 none;
    border-radius: 10px;
    box-shadow:  0 0 15px 1px rgb(13, 2, 66);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 70%;
    margin: 0 10%;
}
/* cover the step 2 */
#registration fieldset:not(:first-of-type){
    display: none;
}
#registration input, #registration textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 80%;
    box-sizing: border-box;
    color: #252b85
}

#registration .action-but{
    width: 150px;
    font-size: bold;
    background-color: rgb(17, 4, 75);
    color: white;
    border-radius: 1px;
    cursor: pointer;
    padding:  10px 5px;
    margin: 10px 5px;
}
#registration .action-but:hover, #registration .action-but:focus{
    box-sizing: 0 0 0 2px white 0 0 0 3px  rgb(17, 4, 75);
}
/*Account Personal Detalils*/
.fs-title{
    font-size: 30px;
    text-transform: uppercase;
    color:  rgb(13, 2, 66);
    margin-bottom: 10px;
}
/*This is step  */

.fs-subtitile{
    font-weight: normal;
    font-size: 20px;
    color: rgb(22, 6, 104);
    margin-bottom: 20px;
}
/*progress bar*/
#progressbar{
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    color:  white;
    position: center;
}
/* the line of progressbar*/
#progressbar li {
    list-style-type: none;
    color:  white ;
    text-transform:  uppercase;
    font-size:  12px;
    width:  44%;
    float: left;
    position: relative;
}

#progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 10px;
    color:  white;
    background: rgb(199, 198, 201);
    border-radius: 3px;
    margin:  0 auto 5px auto;
    position: s;
}
#progressbar li::after {
    content: "";
    width: 100%;
    height: 2px;
    background:  rgb(5, 56, 18);
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    
}
#progressbar li:first-child:after {
    content: none
}
#progressbar li:first-child::before {
    background:  rgb(5, 56, 18);
    color:white ;
}
#progressbar li.active::before, #progressbar li.active::after {
    color: white;
    background:rgb(5, 56, 18) ;
}

label{
    color: rgb(190, 199, 223);
}

#Registration{
    display: none;
}


  
  
  